*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    /* background-color:red; */
    width: 80%;
    margin:auto;
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    border-radius: 100px;
    border: 2px solid var(--color);
}

.navlists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navlists a{
    color: var(--color);
}

a{
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: 900;
    color: var(--color);
}

.btn{
    padding:1rem 1.5rem;
    border-radius: 48px;
    border: none;
    font-size: 1rem;
    background-color: #544e7e;
}

.btn a{
    color: white;
}

.btn a::before{
    content: 'Join Our Telegram';
}

.container{
    background-color: peru;
    background: linear-gradient(349deg, rgba(251, 199, 240, 0.328) 0%, rgba(255, 255, 255, 1) 100%);
    height: auto;
    margin-top: 30px;
    padding: 2rem 7.5rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
}       

/* .img-svg{
    height: 80%;
} */



.heading-text h1{
    font-size: 3.125rem;
    line-height: 130%;
    font-weight: 700;
    word-spacing: 4px;
    color: var(--color);
    width: fit-content;
    height:auto;
}

.description{
    width: fit-content;
    height: auto;
}

:root{
    --color:#2C6E49;
}

.description p{
    font-size: 1.5rem;
    color:var(--color);
}

.mt{
    margin-top: 20px;
}

.hero-list-box{
    margin-top: 3rem;
    width: auto;
    height: auto;
    
}


.highlight-button{
    padding: 4px 16px;
    background-color: #f9f6ff;
    color: #37008e;
    border-radius: 100px;
    border: 1px solid #6202ff;
    outline: none;
    letter-spacing: 0px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.list-item{
    width: fit-content;
    height: auto;
    padding-left: 0.8rem;
    margin-bottom: 0.6rem;
    border-left: 1px solid #6202ff;
    display: flex;
    flex-direction: row;
}


.box1{
    width:50%;
}

.text-below p{
    font-size: 1rem;
    font-weight: 400;
    color: #432d58;
    letter-spacing:0.4px;
}

.text-below{
    width: auto;
    height: auto;
    margin-top: 3.5rem;
}

.bootcamp{
    padding: 2rem 7.5rem;
}

.card-container{
    /* background-color: red; */
    display: grid;
    /* grid-template-columns:33.33% 33.33% 33.33%; */
    grid-template-columns: repeat(3, 33.33%);
}

.card{
    /* background-color: #2C6E49; */
}

.head{
    /* background-color: red; */
    padding: 1.5rem 1rem 1rem 1rem;
    margin-right: 10.5px;
    width:fit-content;
    border-left: 5px solid var(--color);
    background: #FBF8FF;
    width:80%;
}

.card-body{
    padding: 2rem 1rem 2rem 1rem;
    width: fit-content;
    text-wrap: wrap;
    background-color: #FEFDFF;
    width: 80%;
}


@media screen and (max-width:912px) {
    .navigation{
        flex-direction: row;
        width: 100%;
        border-radius:0;
        margin-top: 0;
        border: 0;
        background-color:var(--color);
    }

    .logo{
        color: white;
        font-size: 20px;
    }
    .navlists{
        display: none;
    }
    .btn a::before{
        content: 'Join Us';
    }
    .container{
        padding: 3px;
    }

    .heading-text h1{
        font-size: 2.8rem;
        text-align: center;
        word-spacing: 0;
        letter-spacing: 0;
        padding:5px 20px;

    }
    .description p{
        font-size: 1rem;
        padding:5px 20px;
    }
    .button-left{
        padding: 5px 20px;
        width: fit-content;
    }




    .hero-list-box{
        padding: 5px 20px;
    }

    .box1{
        width: 100%;
    }

    .img-svg{
        display: none;
    }
    
}

@media screen and (max-width:1221px) {
    .img-svg{
        display: none;
    }
    .box1{
        width: 100%;
    }
}